@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reactモーダル用CSS */
@media screen and (min-width:480px) {
	.ReactModal__Content{
    height: 80%;   
    width: 50%;
	} 
}
/* スマホサイズ */
@media screen and (max-width:768px) {
	.ReactModal__Content{
    height: 60%;   
    width: 90%;
	} 
}
/* レビュー本文改行されるようするため */
.review{
    white-space: pre-wrap;
}
