@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reactモーダル用CSS */
@media screen and (min-width:480px) {
	.ReactModal__Content{
    height: 760px;   
    width: 760px;
	} 
}
@media screen and (max-width:768px) {
	.ReactModal__Content{
    height: 60%;   
    width: 90%;
	} 
}